/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
	font-size: 16px;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

body {
	font-family: "Poppins", sans-serif;
	background: url("../img/cool-background.png") repeat;
	color: rgb(255, 255, 255);
}

h1 {
	font-family: "Oswald", sans-serif;
	font-size: 2.5rem;
	color: #2c3373;
}

p {
	font-size: 1.5rem;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1rem;
	padding: 0 1rem;
	width: 100%;
}

.item {
	place-self: center;
}

.innerContainer {
	margin: 5rem 0;
}

table {
	color: black;
}

thead,
tfoot {
	background-color: rgba(41, 42, 46, 0.795);
	font-weight: bold;
	color: #e4f0f5;
}

tbody {
	background-color: #e4f0f5;
}

caption {
	padding: 10px;
	caption-side: bottom;
}

table {
	border-collapse: collapse;
	border: 2px solid rgba(41, 42, 46, 0.795);
	letter-spacing: 1px;
}

td,
th {
	border: 1px solid rgb(190, 190, 190);
	padding: 5px 10px;
}

th {
	cursor: pointer;
}

td {
	text-align: center;
}

label {
	font-weight: bold;
	color: #2c3373;
	font-size: larger;
}

#info {
	padding: 2rem 0;
}

input[type="text"],
input[type="date"] {
	padding: 1rem;
}

button {
	background-color: rgb(41 42 46);
	color: rgb(248, 248, 248);
	padding: 0.5rem;
	border-radius: 0.5rem;
	border: solid 2px #252626;
	font-weight: bold;
}

.hidden {
	display: none;
}

@media screen and (max-width: 900px) {
	.container {
		grid-template-columns: 100%;
	}
}
